/* ===========================================================

	# Anchor

=========================================================== */

a {
	color: $link-colour;
	transition: color $speed $ease;

	&:hover,
	&:focus {
		color: $link-colour-hover;
	}

	&:not([class]) {
		font-weight: $bold;
	}
}
