/* ===========================================================
  # Hero
=========================================================== */

@include respond-min($mq-large) {

	.t-has-hero {

		.c-header {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

			&.is-fixed {
				position: fixed;
			}
		}

		body {
			padding-top: 0 !important;
		}

		.c-header {
			background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.4), transparent);

			.c-nav--main {

				.c-nav__link {
					color: $white;

					&.is-active {
						color: $pri;
					}
				}

			}

			.c-site-logo__name {
				display: none;
			}

			.c-site-logo__bubble,
			.c-site-logo__strapline {
				fill: $white;
			}

		}

	}


}
