/* ===========================================================
# Home
=========================================================== */

@include respond-max($mq-large) {

	.t-home__about__col {

		& + & {
			margin-top: $line-height;
		}

	}

}

@include respond-min($mq-large) {

	.t-home__about__col--first {
		@include span(5/12);
	}

	.t-home__about__col--last {
		@include span(6/12, $offset: 1/12);
	}

	.t-home__about__col {

		.c-image-mozaic {
			width: calc(100% + 4rem);
			width: 50vw;
			max-width: 94rem;
			margin-top: -14rem;
			z-index: 1;

		}
	}

	.t-home__about__col__quote {
		padding-left: 5%;
	}

}
