@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
    var headline = Model.GetPropertyValue<string>("headline", Model.Name);
}

<main class="o-page__inner u-clearfix" role="main">
	<h1>@headline</h1>
</main>