@using iCAN;
@using iCAN.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<main class="o-page__inner u-clearfix" role="main">

	@Html.Partial("Components/Cover", new CoverViewModel {
        Image = TGDH.Settings<IPublishedContent>("defaultFeaturedImage"),
		Headline = "Example headline"
    })

</main>
