@using iCAN.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

<div class="o-page__inner u-clearfix">
	@*
	@Html.CachedPartial("~/Views/Partials/Components/Breadcrumb.cshtml", Model, 3600, true)
	*@
	<main class="o-section" role="main">
		@Html.Partial("~/Views/Partials/Components/HeadingFeature.cshtml", new HeadingViewModel {
			Headline = Model.GetPropertyValue<string>("headline", Model.Name),
			Subtitle = Model.GetPropertyValue<string>("subheadline"),
		})
		@Html.CachedPartial("Modules/PageComponents", Model, 3600, true)
	</main>
</div>


