/* ===========================================================

	# Generic grid

=========================================================== */

@include respond-max( $mq-small ) {

	.o-grid__item {
		@include column( 1/2, $cycle: 2 );
		margin-bottom: $line-height * 2;
	}

}

@include respond-min( $mq-small ) {

	.flexwrap {

		.o-grid--three {
			display: flex;
			flex-wrap: wrap;

			.o-grid__item {
				width: calc(31.3333333333% - 1px);
			}
		}

	}

	.o-grid--three {

		.o-grid__item {
			@include column( 1/3, $cycle: 3 );
			margin-bottom: $line-height * 2;
		}

	}

}
