/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: $background-colour;
	min-height: 100%;
	overflow-x: hidden;
}

.o-page__inner {
	width: 100%;
}

.flexbox {

	.o-page {
		display: flex;
		flex-direction: column;
	}

	.o-page__inner {
		flex: 1 1 auto;
	}

}

.o-page__content {
	padding-top: $padding-small;
	padding-bottom: $padding-small;
}


@include respond-max( $mq-medium ) {

	.o-page__content--has-sidebar {

		.o-page__content__main + .o-page__content__sidebar {
			margin-top: $line-height * 2;
		}
	}

}

@include respond-min( $mq-medium ) {

	.o-page__content--has-sidebar {

		.o-page__content__main {
			@include column(9/12);
		}

		.o-page__content__sidebar {
			@include column(3/12);
		}

	}

	.c-cover,
	.c-cover-letterbox {
		& + .o-page__content {
			padding-top: $padding-large;
		}
	}

	.o-page__content {
		padding-top: $padding-small;
		padding-bottom: $padding-large;
	}

}
