/* ===========================================================

	# Alert

=========================================================== */

.c-alert {
	color: $white;
	font-weight: $bold;
	padding: 1rem 2rem;
	border-radius: $border-radius;
	transition: opacity $speed $ease,
				color $speed $ease,
				background $speed $ease,
				visibility $speed $ease;
}

.c-alert--hidden {
	visibility: hidden;
	opacity: 0;
}

.c-alert--visible {
	visibility: hidden;
	opacity: 0;
}

.c-alert--success {
	background-color: $success;
}

.c-alert--error {
	background-color: $error;
}

.c-alert--info {
	background-color: $pri;
}

.c-alert--fixed {
	width: 100%;
	position: fixed;
	top: $line-height;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 12;
}
