/* ===========================================================

	# Buttons

=========================================================== */

.c-button {
	border-radius: 3rem;
	display: block;
	line-height: 1;
	text-align: center;
	padding: 1.2rem 2rem;
	font-weight: $bold;
	transition: background $speed $ease,
				box-shadow $speed $ease,
				color $speed $ease;

	&:hover,
	&:focus {
		color: $white;
	}

	&:focus {
		box-shadow: 0 .3rem 0 0 rgba( $black, .1 );
	}

	&.is-disabled {
		background: $border-colour;
		color: $white;
		cursor: not-allowed;

		&:hover,
		&:focus {
			background: $border-colour;
		}
	}

	@include respond-min($mq-small) {
		display: inline-block;
	}

	&.c-button--small {
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
	}

	&.c-button--large {
		padding: 2.2rem 4rem;
		min-width: 16rem;
	}
}

.c-button--primary {
	background: $pri;
	color: $white;

	&:hover,
	&:focus {
		background: $black;
	}
}

.c-button--secondary {
	background: $sec;
	color: $white;

	&:hover,
	&:focus {
		background: $black;
	}
}

.c-button--skiplink {
	color: $white;
	background-color: $pri;
	position: fixed;
	left: 100%; // Moves button off screen
	top: 1rem;
	z-index: 21;

	&:focus {
		left: 1rem; // Moves button back on screen
	}
}


@include respond-max( $mq-small ) {

	.c-button + .c-button {
		margin-top: $line-height;
	}

}

@include respond-min( $mq-small ) {

	.c-button {
		display: inline-block;
	}

}
