/* ===========================================================

	# Card

=========================================================== */

.c-card {
	position: relative;
	background-color: $white;
}

.c-card__headline {
	transition: color $speed $ease;
}

.c-card__link {
	color: $text-colour;
	display: block;
	box-shadow: $box-shadow-1;

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1;
		box-shadow: $box-shadow-2;
		transition: opacity $speed $ease;
	}

	&:hover,
	&:focus {
		color: inherit;

		.c-card__headline {
			color: $pri;
		}

		&:after {
			opacity: 1;
		}

	}
}

.c-card__label {
	margin-bottom: .7rem;
}

.c-card__category {
	color: $white;
	background-color: $purple-2;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2rem;
	line-height: 1;
	padding: 0.4rem;
}

.c-card__subtitle {
	letter-spacing: 2px;
	font-size: 1.4rem;
	margin-bottom: .7rem;
}

.c-card__content {
	padding: 3rem;
}

.c-card__copy {
	margin-top: $line-height;
}

.c-card__cta {
	margin-top: $line-height;
}

.flexbox {

	.c-card {
		display: flex;
	}

	.c-card__link {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.c-card__headline {
		margin-bottom: 0;
	}

	.c-card__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.c-card__label {
		display: flex;
		order: -1;
	}

	.c-card__copy {
		flex-grow: 1;
	}

	.c-card__subtitle {
		order: -1;
	}

	.c-card__cta {
		align-self: start;
	}

}

.no-flexbox {

	.c-card__subtitle {
		display: inline-block;
		margin-right: 2.4rem;
	}

}
