/* ===========================================================

	# Cover - letterbox

=========================================================== */

.c-cover-letterbox {
	position: relative;
	overflow: hidden;
	background-color: $placeholder-colour;
	background-size: cover;
	background-position: center center;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		opacity: 0.67;
		background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);
	}
}

.c-cover-letterbox__inner {
	z-index: 2;
	position: absolute;
	top: 30%;
	right: 0;
	left: 0;
}

.c-cover-letterbox__headline {
	color: $white;
}
.c-cover-letterbox__copy {
	color: $white;
	font-weight: $bold;
}

.csstransforms {

	.c-cover-letterbox__inner {
		top: 60%;
		transform: translateY(-40%);
	}

}

.c-cover-letterbox__image-wrap {

	&::before {
		content: "";
		width: 100%;
		height: 28%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-image: linear-gradient(0deg,rgba(0,0,0,.3) 0%,rgba(0,0,0,.0) 100%);
	}

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.15);
	}
}

.c-cover-letterbox__image {
	width: 100%;
}

.c-cover-letterbox__wrap,
.c-cover-letterbox__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* ===========================================================
	# Cover breakpoints
=========================================================== */

.c-cover-letterbox {
	max-height: 70rem;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		height: 0;
		width: 100%;
		@include pad-top( 210, 90 );
	}

}

@include respond-max( $mq-medium ) {

	.c-cover-letterbox::before {

		@include pad-top( 40, 30 );
	}

}

@include respond-min( $mq-large ) {

	.c-cover-letterbox__content {
		max-width: $mq-xx-large / 1.5;
	}

	.c-cover-letterbox__copy {
		max-width: 60rem;
	}

}
