/* ===========================================================

	# Header

=========================================================== */

.c-header {
	position: relative;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.c-header__logo-image {
	width: 5.4rem;
	height: 4.7rem;
}

.c-header__toggle-menu-button {
	display: none;
}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header {
			background-color: $sec;

			.c-site-logo__bubble {
				fill: $white;
			}

			.c-site-logo__strapline,
			.c-site-logo__name {
				display: none;
			}
		}

		.c-header__logo-link {
			position: relative;
		}

		.c-header__nav-wrap {
			background-color: $sec;
			height: 100vh;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
		}

		.c-header__toggle-menu-button {
			display: block;
			margin-left: auto;
			padding: 1.5rem 1.3rem;
		}

	}

	.c-header__cta {

		.c-button.c-button {
			display: block;
			margin: 1rem 2rem;
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
		}
	}

}

@include respond-min( $mq-large ) {

	.c-header__logo-link {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.c-header__logo-image {
		width: 10.5rem;
		height: 12.3rem;
	}

	.c-header__inner {
		float: left;
	}


	.c-header {

		.c-nav--main {
			float: right;
		}

		.c-header__cta.c-header__cta {
			margin-left: 2rem;

			.c-button {
				box-shadow: $box-shadow-1;
			}

		}
	}

}


