/* ===========================================================

	# Header

=========================================================== */

.c-header {
	position: relative;
	z-index: 10;
	transition: background $speed $ease,
				border-color $speed $ease;
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.c-header__logo-image {
	width: 9.3rem;
}

.c-header__toggle-menu-button {
	display: none;
}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__toggle-menu-button {
			color: $pri;
			font-size: 2.4rem;
			display: block;
			float: right;
			padding: .9rem 1.3rem .8rem;
			transition: color $speed $ease,
						background $speed ease;

			i {
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				color: $sec;
			}
		}

		.c-header__logo-link {
			position: relative;
		}

		&.nav-main-open {

			.c-header__toggle-menu-button {
				color: $white;

				&:hover,
				&:focus {
					color: $pri;
				}
			}

		}

	}

}

@include respond-min( $mq-large ) {

	.c-header__logo-image {
		width: 10.5rem;
		height: 12.3rem;
	}

	.c-header__inner {
		float: left;
	}


	.c-header {

		.c-nav--main {
			float: right;
		}

		.c-header__cta.c-header__cta {
			margin-left: 2rem;
			box-shadow: $box-shadow-1;
		}
	}


}


