/* ===========================================================
	# Link list
=========================================================== */

.c-link-list {
	list-style: none;
}

.c-link-list__item {
	width: calc(100% + 2.8rem);
	transform: translateX(-1.4rem);
	margin: 0;

	&.is-active {

		.c-link-list__link {
			color: $pri;
		}

	}
}

.c-link-list__icon {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.c-link-list__link {
	display: block;
	color: $pri;
	padding: .7rem 1.4rem;
	font-size: 1.8rem;
	transition: color $speed $ease,
				background-color $speed $ease;

	&:hover {
		background-color: $light-1;
	}
}

.c-link-list__name {
	font-weight: 900;
	margin-right: 1rem;
}

.c-link-list__meta {
	color: $text-colour;
}
