/* ===========================================================

	# Listing - card

=========================================================== */

@include respond-max( $mq-small) {
	.c-listing-card {

		.c-listing-card__item {

			& + .c-listing-card__item {
				margin-top: $line-height;
			}
		}

	}

}

@include respond-min( $mq-small) {

	.c-listing-card__item {
		margin-bottom: $line-height;
	}

	.flexwrap {

		.c-listing-card {
			display: flex;
			flex-wrap: wrap;
		}

	}

}

@include respond-min-max( $mq-small, $mq-large ) {

	.c-listing-card {

		.c-listing-card__item {
			@include column(1/2, $cycle: 2);
		}

	}

	.flexwrap {

		.c-listing-card__item {
			width: calc(48.5% - 1px);
		}

	}

}

@include respond-min( $mq-large ) {

	.c-listing-card {

		.c-listing-card__item {
			@include column(1/3, $cycle: 3);
		}

	}

	.flexwrap {

		.c-listing-card__item {
			width: calc(31.3333333333% - 1px);
		}

	}

}
