/* ===========================================================

	# Nav

=========================================================== */

.c-nav--main {

	.c-nav__list {
		list-style: none;
	}

	.c-nav__item {
		margin: 0;
	}

	.c-nav__link {
		color: $purple-2;
		padding: 1rem;
		display: block;
		font-weight: $bold;
		transition: color $speed $ease,
					background $speed $ease;

		&:hover,
		&:focus {
			color: $sec;
		}

		&.is-active {
			color: $orange-1;
		}
	}

	.c-nav__item--parent .c-nav__list-sub {
		display: none;
	}

}

@include respond-max( $mq-small ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 1.5rem;
			}

		}

	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 2rem;
			}

		}

	}

}

@include respond-min-max( $mq-medium, $mq-large ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 4rem;
			}

		}

	}

}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__nav-wrap {
			position: absolute;
			right: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			background-color: $pri;
			transform: translateY(-1rem);
			transition: opacity $speed $ease,
						visibility $speed $ease,
						transform $speed $ease;
		}

		&.nav-main-open {

			.c-header__nav-wrap {
				opacity: 1;
				visibility: visible;
				transform: translateY(0rem);

				.c-nav__link {
					color: $white;

					&.is-active {
						color: $pri;
					}
				}

			}

		}

	}

}

@include respond-min( $mq-large ) {

	.c-nav--main {
		position: relative;
		z-index: 10;
		margin-top: 1.4rem;

		.c-nav__item {
			display: inline;
			position: relative;
		}

		.c-nav__link {
			display: inline-block;
			padding: 1rem;
			transition: color $speed $ease;

			&:after {
				content: "";
				display: block;
				width: 100%;
				height: .2rem;
				opacity: 0;
				background-color: $purple-2;
				transition: opacity $speed $ease,
							transform $speed $ease;
			}

			&.is-active {

				&:after {
					opacity: 1;
					transform: translateY(-.4rem);
				}

			}

			&:hover {

				&:after {
					opacity: 1;
					transform: translateY(-.4rem);
				}

			}
		}

		.c-nav__list--parent {
			position: relative;
		}

		.c-nav__list--sub {
			min-width: 20rem;
			color: $white;
			background-color: $sec;
			position: absolute;
			left: 0;
			opacity: 0;
			visibility: hidden;
			margin-top: 0;
			transform: translate(1rem, -.3rem);
			transition: opacity $speed $ease,
						visibility $speed $ease,
						transform $speed $ease;

			.c-nav__item,
			.c-nav__link {
				display: block;
			}

			.c-nav__link {
				color: $white;
				margin: 0;
				padding-top: 1rem;
				font-size: 1.4rem;

				&:after {
					display: none;
				}

				&:hover,
				&:focus {
					color: $pri;
					background-color: $purple-1;
				}

				&.is-active {
					color: $pri;

					&:hover,
					&:focus {
						color: $pri;
					}
				}

			}

		}

		.c-nav__item--parent:hover {

			.c-nav__list--sub {
				opacity: 1;
				visibility: visible;
				transform: translate(1rem, -1.4rem);
			}

		}

	}

}
