/* ===========================================================
	# Pagination
=========================================================== */

.c-pagination {
	margin-top: $line-height;
	text-align: center;
}

.c-pagination__item {
	list-style: none;
	margin: 0;
	display: inline-block;
	vertical-align: middle;

	&.is-active {
		font-weight: $bold;

		.c-pagination__link {
			color: $text-colour;
		}
	}
}

.c-pagination__link {
	padding: 1.5rem;
	color: $light-1;
	display: inline-block;
	font-weight: 900;
	font-size: 1.8rem;
	border-radius: 50%;
}

.c-pagination__link--prev {
	margin-right: 2rem;

	.c-pagination__link-icon {
		@include arrow-left($white);
	}
}

.c-pagination__link--next {
	margin-left: 2rem;

	.c-pagination__link-icon {
		@include arrow-right($white);
	}
}

.c-pagination__link--prev,
.c-pagination__link--next {
	padding: 1.9rem 2rem;
	margin-bottom: -0.7rem;
	background-color: $sec;
	box-shadow: 0 0 60px rgba(#444,0.3);

	&.is-disabled {
		opacity: 0.3;
	}
}
