/* ===========================================================

	# Site logo

=========================================================== */

.c-site-logo__bubble {
	transition: fill $speed $ease;
}

.c-site-logo__name,
.c-site-logo__strapline {
	transition: opacity $speed $ease;
}

.c-site-logo__bubble {
	fill: $purple-2;
}

.c-site-logo__name {
	fill: $orange-1;
}

.c-site-logo__strapline {
	fill: $purple-2;
}

.c-site-logo--invert {

	.c-site-logo__name {
		opacity: 0;
	}

	.c-site-logo__bubble,
	.c-site-logo__strapline {
		fill: $white;
	}

}


@include respond-max( $mq-x-large) {

	.c-site-logo__strapline {
		display: none;
	}

}
