/* ===========================================================

	# Variables

=========================================================== */

$old-ie: 					false!default;
$base-dir: 					'/assets';
$fonts: 					'#{$base-dir}/fonts';
$images: 					'#{$base-dir}/img';

/* ===========================================================

	# COLOURS

=========================================================== */

$white: 					#FFFFFF;
$black: 					#000000;
$red:						#f44336;
$green:						#4caf50;

$dark-1:					#222222;

$light-1:					#f7f5f2;
$light-2:					darken($light-1, 5);

$purple-1:					#3a113e;
$purple-2:					#4f1c47;

$orange-1:					#ff9933;

$pri: 						$orange-1;
$sec: 						$purple-2;

$facebook: 					#3b5998;
$twitter: 					#55acee;
$google: 					#dc4e41;
$instagram: 				#3f729b;
$linkedin:	 				#0077b5;
$pinterest: 				#bd081c;
$youtube: 					#cd201f;
$vimeo: 					#1ab7ea;
$flcikr: 					#0063dc;

// utility

$box-shadow-1:				0 0 30px rgba($black,0.1);
$box-shadow-2:				0 0 60px rgba(0, 0, 0, 0.15);
$box-shadow-3:				0 0 10px 2px rgba($black,0.1);;
$box-shadow-focus:			0 0 10px 2px rgba($sec,0.3);

/* ===========================================================

	# Base values

=========================================================== */

$font-family:				"proxima-nova", Helvetica, Arial, Geneva, sans-serif;
$font-family-sec:			"proxima-nova-extra-condensed";
$font-size-small:			1.6rem;
$font-size-large:			1.6rem;
$line-height:				1.7em;
$type-scale-small:			1.175;
$type-scale-medium:			1.20;
$type-scale-large:			1.25;

$heading-colour:			$purple-2;
$text-colour:				$black;
$background-colour:			$white;
$border-colour:				$light-1;
$link-colour:				$orange-1;
$link-colour-hover:			$sec;
$form-placeholder-colour:	#ccc;
$placeholder-colour:		$light-2;
$highlight-colour:			lighten( $pri, 30 );

$error:						$red;
$success:					$green;
$disabled:					$light-1;

// section padding
$padding-small:				4rem;
$padding-medium:			6rem;
$padding-large:				10rem;

$border-width: 				.1rem;
$border-radius: 			.3rem;
$speed: 					.3s;
$ease:						ease;

$light:						300;
$regular:					500;
$bold:						700;

$wrap-small:				75rem;
$wrap-medium:				82rem;
$wrap-large:				108rem;
$wrap-x-large:				140rem;

/* ===========================================================

	# Media queries

=========================================================== */

$mq-small:	 				600px;
$mq-medium: 				800px;
$mq-large: 					1000px;
$mq-x-large: 				1280px;
$mq-xx-large: 				1500px;

/* ===========================================================

	# Grid settings

=========================================================== */

$jeet-gutter:				3      !default;
$jeet-parent-first:     	false  !default;
$jeet-layout-direction: 	"LTR"  !default;
$jeet-max-width:			1410px !default;
