@inherits UmbracoViewPage<IPublishedContent>
@*
<div class="c-site-logo">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224.87 258.93">
    	<title>I CAN</title>
		<path class="c-site-logo__bubble" d="M224.87,86.83c0,79.64-117.68,111.54-117.68,111.54s28.51-44.33,18.3-42.84C44.37,167.38-.1,134.79-.1,86.83S50.26,0,112.38,0,224.87,38.88,224.87,86.83Z" style="fill:#542144" />
		<g class="c-site-logo__name">
			<path d="M25.27,55.65H41.18v61.08H25.27Z"/>
			<path d="M85.31,74.21c0-6.93-1.28-9-4.36-9-4.88,0-5.39,4.45-5.39,21s.51,21,5.39,21c3.93,0,4.79-3.42,4.79-15h15.4v4.53c0,17.11-10,21.21-20.19,21.21-17.88,0-21.81-9-21.81-31.74,0-23.35,5.3-31.74,21.81-31.74,14.37,0,19.76,7.53,19.76,19.33v3.85H85.31Z"/>
			<path d="M116.88,55.65h20l14.88,61.08H134.84L133.21,106H120.55l-1.62,10.69H102ZM127,68.14h-.17l-4.36,25.92h8.9Z"/>
			<path d="M156.13,55.65h17.79l10.26,37.64h.17V55.65h14.88v61.08H181.8L171.19,79H171v37.72H156.13Z"/>
		</g>
		<g class="c-site-logo__strapline">
			<path d="M10,206.82H14.5v8.59h.1a5.8,5.8,0,0,1,4.82-2.75c4.82,0,6,2.71,6,6.8v10.15H20.91v-9.32c0-2.71-.8-4.05-2.9-4.05-2.46,0-3.51,1.37-3.51,4.72v8.65H10Z"/>
			<path d="M32.28,222.46c.13,2.87,1.53,4.18,4.05,4.18a3.73,3.73,0,0,0,3.58-2.14h4c-1.28,3.89-4,5.55-7.73,5.55-5.2,0-8.43-3.58-8.43-8.68,0-4.95,3.42-8.71,8.43-8.71,5.62,0,8.33,4.72,8,9.8Zm7.37-2.87c-.41-2.3-1.4-3.51-3.61-3.51a3.57,3.57,0,0,0-3.77,3.51Z"/>
			<path d="M46.65,206.82h4.53v22.79H46.65Z"/>
			<path d="M54.41,213.11h4.31v2.11h.06a5.49,5.49,0,0,1,4.92-2.55c5.17,0,7.5,4.18,7.5,8.87,0,4.41-2.43,8.52-7.25,8.52A5.86,5.86,0,0,1,59,227.57h-.06v7.85H54.41Zm12.26,8.3c0-2.62-1.05-5.33-4-5.33s-3.93,2.65-3.93,5.33,1,5.24,4,5.24S66.66,224.09,66.66,221.41Z"/>
			<path d="M77.07,224.25c0,2,1.69,2.78,3.48,2.78,1.31,0,3-.51,3-2.11,0-1.37-1.88-1.85-5.14-2.55-2.62-.57-5.24-1.5-5.24-4.41,0-4.21,3.64-5.3,7.18-5.3s6.93,1.21,7.28,5.27H83.3c-.13-1.75-1.47-2.23-3.1-2.23-1,0-2.52.19-2.52,1.53,0,1.63,2.55,1.85,5.14,2.46s5.23,1.56,5.23,4.63c0,4.34-3.77,5.75-7.53,5.75s-7.57-1.44-7.76-5.81Z"/>
			<path d="M110.12,218.92a3.09,3.09,0,0,0-3.35-2.84c-2.91,0-3.86,2.94-3.86,5.36s.93,5.2,3.77,5.2a3.49,3.49,0,0,0,3.61-3.35h4.37c-.58,4.37-3.61,6.77-7.95,6.77-5,0-8.33-3.51-8.33-8.46,0-5.14,3.06-8.94,8.43-8.94,3.89,0,7.47,2,7.76,6.26Z"/>
			<path d="M116.86,206.82h4.53v8.59h.1a5.8,5.8,0,0,1,4.82-2.75c4.82,0,6,2.71,6,6.8v10.15h-4.53v-9.32c0-2.71-.8-4.05-2.91-4.05-2.46,0-3.51,1.37-3.51,4.72v8.65h-4.53Z"/>
			<path d="M140.1,210.55h-4.53v-3.74h4.53Zm-4.53,2.55h4.53v16.5h-4.53Z"/>
			<path d="M143.45,206.82H148v22.79h-4.53Z"/>
			<path d="M163,227.5h-.06a5.48,5.48,0,0,1-5,2.55c-5,0-7.41-4.28-7.41-8.84s2.46-8.55,7.31-8.55a5.68,5.68,0,0,1,4.88,2.46h.06v-8.3h4.53v22.79H163Zm-4-11.43c-3,0-4,2.55-4,5.27s1.18,5.3,4,5.3c3,0,3.89-2.62,3.89-5.33S162,216.07,159,216.07Z"/>
			<path d="M170.37,213.11h4.31v3.06h.06a5.84,5.84,0,0,1,5.27-3.51,3.38,3.38,0,0,1,1,.16V217a8.28,8.28,0,0,0-1.63-.16c-3.32,0-4.47,2.39-4.47,5.3v7.44h-4.53Z"/>
			<path d="M185.59,222.46c.13,2.87,1.53,4.18,4.05,4.18a3.73,3.73,0,0,0,3.58-2.14h4c-1.28,3.89-4,5.55-7.73,5.55-5.2,0-8.43-3.58-8.43-8.68,0-4.95,3.42-8.71,8.43-8.71,5.62,0,8.33,4.72,8,9.8Zm7.37-2.87c-.41-2.3-1.4-3.51-3.61-3.51a3.57,3.57,0,0,0-3.77,3.51Z"/>
			<path d="M199.83,213.11h4.31v2.3h.1a5.89,5.89,0,0,1,5-2.75c4.82,0,6,2.71,6,6.8v10.15h-4.53v-9.32c0-2.71-.8-4.05-2.91-4.05-2.46,0-3.51,1.37-3.51,4.72v8.65h-4.53Z"/>
			<path d="M21.19,247.8A3.09,3.09,0,0,0,17.84,245c-2.9,0-3.86,2.93-3.86,5.36s.92,5.2,3.76,5.2a3.49,3.49,0,0,0,3.6-3.35h4.37c-.57,4.37-3.6,6.76-7.94,6.76-5,0-8.32-3.51-8.32-8.45,0-5.13,3.06-8.93,8.42-8.93,3.89,0,7.46,2,7.75,6.25Z"/>
			<path d="M36.27,241.55c5.2,0,8.55,3.44,8.55,8.71s-3.35,8.67-8.55,8.67-8.51-3.44-8.51-8.67S31.11,241.55,36.27,241.55Zm0,14c3.09,0,4-2.65,4-5.26s-.92-5.29-4-5.29-4,2.65-4,5.29S33.21,255.52,36.27,255.52Z"/>
			<path d="M47.88,242h4.27v2.23h.06a6,6,0,0,1,5-2.68,4.88,4.88,0,0,1,4.82,2.74,6,6,0,0,1,5-2.74c3.51,0,6,1.63,6,5.9v11H68.55v-9.34c0-2.2-.19-4-2.77-4s-3,2.1-3,4.18v9.18H58.22v-9.25c0-1.91.13-4.11-2.74-4.11-.89,0-3.06.57-3.06,3.79v9.57H47.88Z"/>
			<path d="M76.78,242h4.27v2.23h.06a6,6,0,0,1,5-2.68A4.88,4.88,0,0,1,91,244.29a6,6,0,0,1,5-2.74c3.51,0,6,1.63,6,5.9v11H97.44v-9.34c0-2.2-.19-4-2.77-4s-3,2.1-3,4.18v9.18H87.11v-9.25c0-1.91.13-4.11-2.74-4.11-.89,0-3.06.57-3.06,3.79v9.57H76.78Z"/>
			<path d="M121,258.48h-4.31v-2.3h-.1a5.88,5.88,0,0,1-5,2.74c-4.82,0-6-2.71-6-6.79V242h4.53v9.31c0,2.71.8,4.05,2.9,4.05,2.46,0,3.51-1.37,3.51-4.72V242H121Z"/>
			<path d="M124.46,242h4.31v2.3h.1a5.88,5.88,0,0,1,5-2.74c4.82,0,6,2.71,6,6.79v10.14H135.4v-9.31c0-2.71-.8-4-2.9-4-2.46,0-3.51,1.37-3.51,4.72v8.64h-4.53Z"/>
			<path d="M148,239.45H143.5v-3.73H148ZM143.5,242H148v16.49H143.5Z"/>
			<path d="M162.83,247.8a3.09,3.09,0,0,0-3.35-2.84c-2.9,0-3.86,2.93-3.86,5.36s.92,5.2,3.76,5.2a3.49,3.49,0,0,0,3.6-3.35h4.37c-.57,4.37-3.6,6.76-7.94,6.76-5,0-8.32-3.51-8.32-8.45,0-5.13,3.06-8.93,8.42-8.93,3.89,0,7.46,2,7.75,6.25Z"/>
			<path d="M169.72,247.07c.25-4.24,4-5.52,7.75-5.52,3.29,0,7.24.73,7.24,4.69v8.58a8.44,8.44,0,0,0,.57,3.67h-4.59a6.73,6.73,0,0,1-.32-1.59,7.56,7.56,0,0,1-5.55,2c-3.12,0-5.61-1.56-5.61-4.94,0-3.73,2.81-4.62,5.61-5s5.36-.32,5.36-2.17-1.34-2.23-2.93-2.23-2.84.7-3,2.49Zm10.46,3.35c-.77.67-2.36.7-3.76,1s-2.68.76-2.68,2.42,1.31,2.1,2.77,2.1c3.54,0,3.67-2.81,3.67-3.79Z"/>
			<path d="M194,242h3.32v3H194v8.16c0,1.53.38,1.91,1.91,1.91a7,7,0,0,0,1.4-.13v3.54a17.44,17.44,0,0,1-2.65.16c-2.77,0-5.2-.64-5.2-3.92V245h-2.74v-3h2.74v-4.94H194Z"/>
			<path d="M203.17,251.34c.13,2.87,1.53,4.18,4.05,4.18a3.73,3.73,0,0,0,3.57-2.14h4c-1.28,3.89-4,5.55-7.72,5.55-5.2,0-8.42-3.57-8.42-8.67,0-4.94,3.41-8.71,8.42-8.71,5.61,0,8.32,4.72,8,9.79Zm7.37-2.87c-.41-2.3-1.4-3.51-3.6-3.51a3.57,3.57,0,0,0-3.76,3.51Z"/>
		</g>
	</svg>
</div>
*@

<div class="c-site-logo c-header__logo-image">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224.87 258.93">
		<title>I CAN</title>
		<g class="c-site-logo__name">
			<path d="M25.27,55.65H41.18v61.08H25.27Z"/>
			<path d="M85.31,74.21c0-6.93-1.28-9-4.36-9-4.88,0-5.39,4.45-5.39,21s.51,21,5.39,21c3.93,0,4.79-3.42,4.79-15h15.4v4.53c0,17.11-10,21.21-20.19,21.21-17.88,0-21.81-9-21.81-31.74,0-23.35,5.3-31.74,21.81-31.74,14.37,0,19.76,7.53,19.76,19.33v3.85H85.31Z"/>
			<path d="M116.88,55.65h20l14.88,61.08H134.84L133.21,106H120.55l-1.62,10.69H102ZM127,68.14h-.17l-4.36,25.92h8.9Z"/>
			<path d="M156.13,55.65h17.79l10.26,37.64h.17V55.65h14.88v61.08H181.8L171.19,79H171v37.72H156.13Z"/>
		</g>
		<g class="c-site-logo__strapline">
			<path d="M10,206.82H14.5v8.59h.1a5.8,5.8,0,0,1,4.82-2.75c4.82,0,6,2.71,6,6.8v10.15H20.91v-9.32c0-2.71-.8-4.05-2.9-4.05-2.46,0-3.51,1.37-3.51,4.72v8.65H10Z"/>
			<path d="M32.28,222.46c.13,2.87,1.53,4.18,4.05,4.18a3.73,3.73,0,0,0,3.58-2.14h4c-1.28,3.89-4,5.55-7.73,5.55-5.2,0-8.43-3.58-8.43-8.68,0-4.95,3.42-8.71,8.43-8.71,5.62,0,8.33,4.72,8,9.8Zm7.37-2.87c-.41-2.3-1.4-3.51-3.61-3.51a3.57,3.57,0,0,0-3.77,3.51Z"/>
			<path d="M46.65,206.82h4.53v22.79H46.65Z"/>
			<path d="M54.41,213.11h4.31v2.11h.06a5.49,5.49,0,0,1,4.92-2.55c5.17,0,7.5,4.18,7.5,8.87,0,4.41-2.43,8.52-7.25,8.52A5.86,5.86,0,0,1,59,227.57h-.06v7.85H54.41Zm12.26,8.3c0-2.62-1.05-5.33-4-5.33s-3.93,2.65-3.93,5.33,1,5.24,4,5.24S66.66,224.09,66.66,221.41Z"/>
			<path d="M77.07,224.25c0,2,1.69,2.78,3.48,2.78,1.31,0,3-.51,3-2.11,0-1.37-1.88-1.85-5.14-2.55-2.62-.57-5.24-1.5-5.24-4.41,0-4.21,3.64-5.3,7.18-5.3s6.93,1.21,7.28,5.27H83.3c-.13-1.75-1.47-2.23-3.1-2.23-1,0-2.52.19-2.52,1.53,0,1.63,2.55,1.85,5.14,2.46s5.23,1.56,5.23,4.63c0,4.34-3.77,5.75-7.53,5.75s-7.57-1.44-7.76-5.81Z"/>
			<path d="M110.12,218.92a3.09,3.09,0,0,0-3.35-2.84c-2.91,0-3.86,2.94-3.86,5.36s.93,5.2,3.77,5.2a3.49,3.49,0,0,0,3.61-3.35h4.37c-.58,4.37-3.61,6.77-7.95,6.77-5,0-8.33-3.51-8.33-8.46,0-5.14,3.06-8.94,8.43-8.94,3.89,0,7.47,2,7.76,6.26Z"/>
			<path d="M116.86,206.82h4.53v8.59h.1a5.8,5.8,0,0,1,4.82-2.75c4.82,0,6,2.71,6,6.8v10.15h-4.53v-9.32c0-2.71-.8-4.05-2.91-4.05-2.46,0-3.51,1.37-3.51,4.72v8.65h-4.53Z"/>
			<path d="M140.1,210.55h-4.53v-3.74h4.53Zm-4.53,2.55h4.53v16.5h-4.53Z"/>
			<path d="M143.45,206.82H148v22.79h-4.53Z"/>
			<path d="M163,227.5h-.06a5.48,5.48,0,0,1-5,2.55c-5,0-7.41-4.28-7.41-8.84s2.46-8.55,7.31-8.55a5.68,5.68,0,0,1,4.88,2.46h.06v-8.3h4.53v22.79H163Zm-4-11.43c-3,0-4,2.55-4,5.27s1.18,5.3,4,5.3c3,0,3.89-2.62,3.89-5.33S162,216.07,159,216.07Z"/>
			<path d="M170.37,213.11h4.31v3.06h.06a5.84,5.84,0,0,1,5.27-3.51,3.38,3.38,0,0,1,1,.16V217a8.28,8.28,0,0,0-1.63-.16c-3.32,0-4.47,2.39-4.47,5.3v7.44h-4.53Z"/>
			<path d="M185.59,222.46c.13,2.87,1.53,4.18,4.05,4.18a3.73,3.73,0,0,0,3.58-2.14h4c-1.28,3.89-4,5.55-7.73,5.55-5.2,0-8.43-3.58-8.43-8.68,0-4.95,3.42-8.71,8.43-8.71,5.62,0,8.33,4.72,8,9.8Zm7.37-2.87c-.41-2.3-1.4-3.51-3.61-3.51a3.57,3.57,0,0,0-3.77,3.51Z"/>
			<path d="M199.83,213.11h4.31v2.3h.1a5.89,5.89,0,0,1,5-2.75c4.82,0,6,2.71,6,6.8v10.15h-4.53v-9.32c0-2.71-.8-4.05-2.91-4.05-2.46,0-3.51,1.37-3.51,4.72v8.65h-4.53Z"/>
			<path d="M21.19,247.8A3.09,3.09,0,0,0,17.84,245c-2.9,0-3.86,2.93-3.86,5.36s.92,5.2,3.76,5.2a3.49,3.49,0,0,0,3.6-3.35h4.37c-.57,4.37-3.6,6.76-7.94,6.76-5,0-8.32-3.51-8.32-8.45,0-5.13,3.06-8.93,8.42-8.93,3.89,0,7.46,2,7.75,6.25Z"/>
			<path d="M36.27,241.55c5.2,0,8.55,3.44,8.55,8.71s-3.35,8.67-8.55,8.67-8.51-3.44-8.51-8.67S31.11,241.55,36.27,241.55Zm0,14c3.09,0,4-2.65,4-5.26s-.92-5.29-4-5.29-4,2.65-4,5.29S33.21,255.52,36.27,255.52Z"/>
			<path d="M47.88,242h4.27v2.23h.06a6,6,0,0,1,5-2.68,4.88,4.88,0,0,1,4.82,2.74,6,6,0,0,1,5-2.74c3.51,0,6,1.63,6,5.9v11H68.55v-9.34c0-2.2-.19-4-2.77-4s-3,2.1-3,4.18v9.18H58.22v-9.25c0-1.91.13-4.11-2.74-4.11-.89,0-3.06.57-3.06,3.79v9.57H47.88Z"/>
			<path d="M76.78,242h4.27v2.23h.06a6,6,0,0,1,5-2.68A4.88,4.88,0,0,1,91,244.29a6,6,0,0,1,5-2.74c3.51,0,6,1.63,6,5.9v11H97.44v-9.34c0-2.2-.19-4-2.77-4s-3,2.1-3,4.18v9.18H87.11v-9.25c0-1.91.13-4.11-2.74-4.11-.89,0-3.06.57-3.06,3.79v9.57H76.78Z"/>
			<path d="M121,258.48h-4.31v-2.3h-.1a5.88,5.88,0,0,1-5,2.74c-4.82,0-6-2.71-6-6.79V242h4.53v9.31c0,2.71.8,4.05,2.9,4.05,2.46,0,3.51-1.37,3.51-4.72V242H121Z"/>
			<path d="M124.46,242h4.31v2.3h.1a5.88,5.88,0,0,1,5-2.74c4.82,0,6,2.71,6,6.79v10.14H135.4v-9.31c0-2.71-.8-4-2.9-4-2.46,0-3.51,1.37-3.51,4.72v8.64h-4.53Z"/>
			<path d="M148,239.45H143.5v-3.73H148ZM143.5,242H148v16.49H143.5Z"/>
			<path d="M162.83,247.8a3.09,3.09,0,0,0-3.35-2.84c-2.9,0-3.86,2.93-3.86,5.36s.92,5.2,3.76,5.2a3.49,3.49,0,0,0,3.6-3.35h4.37c-.57,4.37-3.6,6.76-7.94,6.76-5,0-8.32-3.51-8.32-8.45,0-5.13,3.06-8.93,8.42-8.93,3.89,0,7.46,2,7.75,6.25Z"/>
			<path d="M169.72,247.07c.25-4.24,4-5.52,7.75-5.52,3.29,0,7.24.73,7.24,4.69v8.58a8.44,8.44,0,0,0,.57,3.67h-4.59a6.73,6.73,0,0,1-.32-1.59,7.56,7.56,0,0,1-5.55,2c-3.12,0-5.61-1.56-5.61-4.94,0-3.73,2.81-4.62,5.61-5s5.36-.32,5.36-2.17-1.34-2.23-2.93-2.23-2.84.7-3,2.49Zm10.46,3.35c-.77.67-2.36.7-3.76,1s-2.68.76-2.68,2.42,1.31,2.1,2.77,2.1c3.54,0,3.67-2.81,3.67-3.79Z"/>
			<path d="M194,242h3.32v3H194v8.16c0,1.53.38,1.91,1.91,1.91a7,7,0,0,0,1.4-.13v3.54a17.44,17.44,0,0,1-2.65.16c-2.77,0-5.2-.64-5.2-3.92V245h-2.74v-3h2.74v-4.94H194Z"/>
			<path d="M203.17,251.34c.13,2.87,1.53,4.18,4.05,4.18a3.73,3.73,0,0,0,3.57-2.14h4c-1.28,3.89-4,5.55-7.72,5.55-5.2,0-8.42-3.57-8.42-8.67,0-4.94,3.41-8.71,8.42-8.71,5.61,0,8.32,4.72,8,9.79Zm7.37-2.87c-.41-2.3-1.4-3.51-3.6-3.51a3.57,3.57,0,0,0-3.76,3.51Z"/>
		</g>
		<g class="c-site-logo__bubble">
			<path d="M112.38,0C50.26,0-.1,38.88-.1,86.83s44.47,80.55,125.59,68.7c10.21-1.49-18.3,42.84-18.3,42.84s117.68-31.9,117.68-111.54C224.87,38.88,174.51,0,112.38,0ZM41.18,116.73H25.27V55.65H41.18Zm60-20c0,17.11-10,21.21-20.19,21.21-17.88,0-21.81-9-21.81-31.74,0-23.35,5.3-31.74,21.81-31.74,14.37,0,19.76,7.53,19.76,19.33v3.85H85.31V74.21c0-6.93-1.28-9-4.36-9-4.88,0-5.39,4.45-5.39,21s.51,21,5.39,21c3.94,0,4.79-3.42,4.79-15h15.4Zm33.7,20L133.21,106H120.55l-1.62,10.69H102l14.88-61.08h20l14.88,61.08Zm64.41,0H181.8L171.19,79H171v37.72H156.13V55.65h17.79l10.26,37.64h.17V55.65h14.88Z"/>
			<polygon points="126.8 68.14 122.44 94.06 131.33 94.06 126.97 68.14 126.8 68.14"/>
		</g>
	</svg>
</div>

