@using TGDH.Core.Models;
@inherits UmbracoViewPage<VideoViewModel>
@{
    if (Model.Video == null) {
        return;
    }

    //Add MvcHtmlString when OEmbed is added
	var media = Model.GetPropertyValue<MvcHtmlString>("media");
    var hasMedia = !MvcHtmlString.IsNullOrEmpty(media);
    var alignment = Model.GetPropertyValue<string>("alignment") != null ? Model.GetPropertyValue<string>("alignment").ToLower() : "default";
}

@if( alignment == "full screen width" ) {
    <div class="o-media o-media--video o-wrap o-wrap--@wrapSize o-page-component o-align--@alignment @Model.ModifierClass">
        @Html.Raw( media )
    </div>
} else {
    <div class="o-wrap o-wrap--@wrapSize o-page-component @Model.ModifierClass">
        <div class="o-media o-media--video o-align--@alignment">
            @Html.Raw( media )
        </div>

    </div>
}