/* ===========================================================
# Icons
=========================================================== */

.u-icon {
  fill: $sec;
  vertical-align: middle;
}

.u-icon--white {
  fill: $white;
}

.u-icon--16 {
  width: 1.6rem;
  height: 1.6rem;
}

.u-icon--24 {
  width: 2.4rem;
  height: 2.4rem;
}

.u-icon--32 {
  width: 3.2rem;
  height: 3.2rem;
}

.u-icon--42 {
  width: 4.2rem;
  height: 4.2rem;
}
